<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WCFServiceWebRole1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Afin de ne pas dévoiler des informations de métadonnées, définissez la valeur ci-dessous sur False avant le déploiement -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, affectez true à la valeur ci-dessous. Affectez-lui false avant le déploiement afin d'éviter de dévoiler des informations d'exception -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Pour accéder au répertoire racine des applications Web au cours du débogage, définissez la valeur ci-dessous sur True.
        Définissez-la sur False avant le déploiement afin d'éviter la divulgation d'informations contenues dans le dossier des applications Web.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings>
    <WCFServiceWebRole1.Properties.Settings>
      <setting name="WCFServiceWebRole1_ProxyDecrypt_ProjetService"
        serializeAs="String">
        <value>http://51.210.103.59:11080/ProjetService/ProjetServiceBean</value>
      </setting>
    </WCFServiceWebRole1.Properties.Settings>
  </applicationSettings>
</configuration>
