<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Middleware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    
    <client />
    <bindings>
      <netTcpBinding>
        <binding name="authTcpBinding">
          <security mode="Message" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="Middleware.Auth">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Middleware/Auth"   />
          </baseAddresses>
        </host>
        
        <endpoint address="net.tcp://localhost:9000/Middleware/Auth"
                  binding="netTcpBinding"
                  contract="Middleware.IAuth" bindingConfiguration="authTcpBinding" name="authTcp" />

      </service>
      
      <service name="Middleware.Decrypt">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Middleware/Decrypt"   />
          </baseAddresses>
        </host>

        <endpoint address="net.tcp://localhost:9000/Middleware/Decrypt"
                  binding="netTcpBinding"
                  contract="Middleware.IDecrypt" bindingConfiguration="authTcpBinding" name="decryptTcp" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez la valeur ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True"/>
          
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <applicationSettings>
    <Middleware.Properties.Settings>
      <setting name="Middleware_proxyDecrypt_ProjetService" serializeAs="String">
        <value>http://51.210.103.59:11080/ProjetService/ProjetServiceBean</value>
      </setting>
    </Middleware.Properties.Settings>
  </applicationSettings>
</configuration>